{% extends "@ALNLindor/layout.html.twig" %}
{% block body %}
 <div class="content-page ">
                <!-- Start content -->      
                <div class="content  ">
                    <div class="container ">

                        <!-- Page-Title -->
                        <div class="row bg-primary" style="width:600; height:auto; box-shadow: 10px 10px 5px #aaaaaa; margin-top:50px; margin-left:100px; margin-right:100px;" >
                           

                        

J'ai mis la longueur de ce div a auto il s'adapte en fonction du contenu 











                        </div>

                     </div> <!-- container -->
                               
                </div> <!-- content -->

                <footer class="footer text-right bg-secondary" >
                    2018 © Lindor.
                </footer>

            </div>
{% endblock %}